html,
body {
    height: 100%;
}

.column-filter {
    width: 270px !important;
}

.logo {
    height: 80px;
}

.bernoulli {
    background-image: url("https://bplay.bernoulli.com.br/dist/img/logo-bse.jpg");
    height: 10px;
    width: 120px;
}

.filtro {
    overflow-y: auto !important;
    overflow-x: hidden !important;
}

.filtro>span {
    letter-spacing: 1px;
}

.multi-range2 {
    margin-top: -20px !important;
}

.regua {
    min-height: 300px;
    background: rgb(54, 179, 171);
    background: -moz-linear-gradient(163deg, rgba(54, 179, 171, 1) 0%, rgba(36, 107, 179, 1) 100%);
    background: -webkit-linear-gradient(163deg, rgba(54, 179, 171, 1) 0%, rgba(36, 107, 179, 1) 100%);
    background: linear-gradient(163deg, rgba(54, 179, 171, 1) 0%, rgba(36, 107, 179, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#36b3ab", endColorstr="#246bb3", GradientType=1);
}

.tabela {
    top: -44px;
    font-size: 13px;
}

.fixed-table-toolbar {
    pointer-events: none;
}

.fixed-table-container {
    -webkit-box-shadow: 3px -7px 20px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 3px -7px 20px 3px rgba(0, 0, 0, 0.1);
}

#imagemid {
    opacity: 1;
    position: fixed;
    z-index: 50;
    right: 20px;
    bottom: 20px;
    display: block;
}

.oculto {
    display: none !important;
}

#listaselecionada {
    z-index: 5;
}

#selecionadas {
    margin-bottom: -7px;
}

red {
    color: #61f5df;
}

.outdot {
    cursor: pointer;
}

.dot {
    height: 10px;
    width: 10px;
    background-color: orangered;
    border-radius: 100%;
    display: inline-flex;
    margin-right: 5px;
}

::-webkit-scrollbar {
    width: 5px;
}

 ::-webkit-scrollbar-track {
    background: #f1f1f1;
}

 ::-webkit-scrollbar-thumb {
    background: var(--bs-secondary);
    border-radius: 50px;
}

 ::-webkit-scrollbar-thumb:hover {
    background: var(--bs-dark);
}